@page "/"
@using CodeTestV2.Core.Interfaces.Services
@using CodeTestV2.Application.Models
@inject IEmployeeService<Employee> EmployeeService

<div style="display:flex;flex-direction:row">
    <h1>Employee Editor</h1>
    <div class="content-container">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div>
                <span>Something went wrong here are some details:</span>
                <span style="color: red">@errorMessage</span>
            </div>
        }
        <EmployeeEditor OnException="OnException" OnEmployeeUpdated="OnEmployeeUpdated" EmployeeCollection="employeeData"/>
    </div>
</div>

@code
{
    IList<Employee> employeeData = new List<Employee>();

    string errorMessage = string.Empty;


    protected override Task OnInitializedAsync()
    {
        return OnEmployeeFetchAsync();
    }

    private Task OnEmployeeUpdated()
    {
        errorMessage = string.Empty;
        return OnEmployeeFetchAsync();
    }

    private Task OnException(string message)
    {
        errorMessage = message;
        return OnEmployeeFetchAsync();
    }

    private async Task OnEmployeeFetchAsync()
    {
        employeeData.Clear();
        
        try
        {
            var result = await EmployeeService.ListEmployees(new Request(0, 30), CancellationToken.None);
            employeeData = result.Data;
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }

    }

}
