@using CodeTestV2.Application.Models

        <div class="form-group">
            <label for="employees">Employees</label>
            <select class="form-control" id="employees" @onchange="OnEmployeeChanged">'
                @foreach (var emp in Employees)
                {
                    <option value="@emp.EmployeeId">@emp.EmployeeId</option>
                }
            </select>
        </div>

@code {

    List<Employee> employees = new();

    // Load employee.
    protected override Task OnInitializedAsync()
    {
        // set employee.
        employees = Employees;
        return employees.Count > 0 
            ? OnEmployeeSelected.InvokeAsync(employees.First()) : Task.CompletedTask;
    }

    // Gets the employee.
    private Task OnEmployeeChanged(ChangeEventArgs args)
        => args.Value is null ? Task.CompletedTask : OnEmployeeSelected.InvokeAsync(employees[int.Parse(args.Value.ToString()!)]);
    
    // Callback for a employee.
    [Parameter]
    public EventCallback<Employee> OnEmployeeSelected { get; set; }
    
    [Parameter]
    public List<Employee> Employees { get; set; }
}